---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
---

<BaseLayout title="Blog Posts">
  <h1>Blog Posts</h1>
  <ul>
    {
      posts.map(post => (
        <li>
          <a href={`/posts/${post.slug}`}>{post.data.title}</a>
          <small>{post.data.date.toDateString()}</small>
        </li>
      ))
    }
  </ul>
</BaseLayout>
